mysql/data/mysqld.log
apache2/logs/access.log

apache2/logs/error.log
apache2/logs/httpd.pid
mysql/data/ib_buffer_pool
mysql/data/ib_logfile0
mysql/data/ibdata1
mysql/data/ibtmp1
mysql/data/kapil.pid

apps/moodle/moodledata/sessions/

mysql/data/bitnami_moodle/mdl_cache_flags.ibd
mysql/data/bitnami_moodle/mdl_logstore_standard_log.ibd
mysql/data/bitnami_moodle/mdl_sessions.ibd
mysql/data/bitnami_moodle/mdl_user.ibd
mysql/data/mysql/innodb_index_stats.ibd
mysql/data/mysql/innodb_table_stats.ibd
